<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wmlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wmlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wastemanagement"
        tools:targetApi="31">
        <activity
            android:name=".FinePaymentFragment"
            android:exported="false" />
        <activity
            android:name=".CalendarFragment"
            android:exported="false" />
        <activity
            android:name=".GovtHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomeActivity" />
        <activity
            android:name=".GovtCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".GovtFinePaymentActivity"
            android:exported="false" />

        <!-- Customer Calendar Activity -->
        <activity
            android:name=".UserCalendarActivity"
            android:exported="false" />

        <!-- Customer Fine Payment Activity -->
        <activity
            android:name=".UserFinePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>